@model IEnumerable<ProjectHK3_FE_Admin.Models.CodeSanPhamViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaSanPham)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaSanPham)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaCode }) |
                @Html.ActionLink("Details", "Details", new { id = item.MaCode }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaCode })
            </td>
        </tr>
}
    </tbody>
</table>
