@model IEnumerable< ProjectHK3_FE_NV.Models.LoaiGiaoHangViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaLoaiGiaoHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenLoaiGiaoHang)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaLoaiGiaoHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenLoaiGiaoHang)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaLoaiGiaoHang }) |
                @Html.ActionLink("Details", "Details", new { id = item.MaLoaiGiaoHang }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaLoaiGiaoHang })
            </td>
        </tr>
}
    </tbody>
</table>
